---
layout: default
---

<STYLE>
    .item {
padding-top:100px;
min-height:150px;
position:relative
}
.item:before,.last-item:after {
background:#fff;
border:8px solid #000;
border-radius:50%;
width:40px;
height:40px;
display:inline-block;
content:"";
margin-left:1rem;
position:relative;
z-index:1;
left:calc(2% - 36px)
}
.vertical-line {
width:8px;
background-color:#000;
position:absolute;
left:calc(2% - 5px);
top:0;
bottom:0
}
.item .card-panel {
margin:0;
margin:2rem 0 0 3rem
}
.item-date {
margin-top:-60px;
margin-left:4rem
}
.cv-title {
margin-bottom:0;
margin-left:calc(2% - 5px);
line-height:190%
}
.cv-title span {
padding:1rem
}
.last-item{
padding-top:80px;
height:70px;
position:relative
}
</STYLE>

<div class="container row">
    <h1 class="cv-title"><span class="black white-text">Timeline</span></h1>
    {% assign steps = site.steps | sort: 'date' %}
    {% for step in steps %}
    <div class="item">
        <i class="vertical-line"></i>
        <h2 class="item-date">{{ step.date | date: '%m/%Y' }}{% if step.enddate %} - {{ step.enddate | date: '%m/%Y' }}{% endif %}</h2>
        <div class="card-panel">
            <h3 class="card-title">
                {{ step.title }}
            </h3>
            <p>
                {{ step.content }}
            </p>
        </div>
    </div>
    {% endfor %}
    </div>